server {
    listen 80 default_server;
    server_name _;

    root /var/www/html;
    index index.html;

    add_header X-Frame-Options "DENY" always;
    add_header X-Content-Type-Options "nosniff" always;

    limit_req zone=req_limit burst=20 nodelay;

    location / {
        try_files $uri $uri/ =404;
    }
}
