---
#################################################
# INSTALL CLOUDFLARED
#################################################

- name: Download cloudflared package
  get_url:
    url: https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
    dest: /tmp/cloudflared.deb

- name: Install cloudflared
  apt:
    deb: /tmp/cloudflared.deb

#################################################
# INSTALL TUNNEL SERVICE (TOKEN MODE)
#################################################

- name: Install cloudflared tunnel service
  command: cloudflared service install {{ cloudflared_tunnel_token }}
  args:
    creates: /etc/systemd/system/cloudflared.service

#################################################
# ENABLE + START SERVICE
#################################################

- name: Restart cloudflared
  systemd:
    name: cloudflared
    enabled: yes
    state: restarted

#################################################
# VERIFY TUNNEL STATUS
#################################################

- name: Verify tunnel registration
  shell: cloudflared tunnel list
  register: tunnel_status

- debug:
    var: tunnel_status.stdout
