name: Deploy Portfolio

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build portfolio
        run: npm run build

      - name: Deploy via Ansible
        run: |
          ansible-playbook             -i ansible/inventory/generated.yml             ansible-deploy/deploy.yml             --extra-vars "vite_build_path=dist"
